.login {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;

}

.space {
    margin-top: 4rem !important;
}

.sign-up {
    color: blue !important;
}

#messageDiv {
    color: red;
}

.new-line {
    display: block;
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.bg {
    /* The image used */
    /* background-image: url("https://images.unsplash.com/photo-1617957718587-60a442884bee?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Z3JhZGllbnQlMjBncmVlbnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=800&q=60"); */
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5872942927170868) 0%, rgba(255, 173, 0, 0.4724483543417367) 100%);
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.same-line-div {
    display: flex !important;
    align-items: center;
}

.centered-div {
    justify-content: center !important;
}

.border-div {
    border-style: solid;
    border-width: medium;
}

.login-pic { 
    background: url("https://i.pinimg.com/originals/a6/55/70/a65570bd40d125cfe6abacbf85e96b3b.jpg");
    /* Full height */
    height: 100vh;

    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover; 
}

.login-div{
    padding-left: 33% !important;
    padding-right: 33% !important;
    margin-top: 8rem !important;
}

.login-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5rem;
    text-shadow: 2px 2px 4px #3c3737;
}

.under-login-header {
    font-family: Arial, Helvetica, sans-serif;
}

.header-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-logo {
    border-radius: 50%;
}

.pal-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3;
    /* Light grey */
    border-top: 10px solid #383636;
    /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
}

.dash-header {
    font-family: Arial, Helvetica, sans-serif;
    height:fit-content;
    /* padding-top: 12.5%;
    padding-bottom: 12.5%; */
}

.pet-profile-image {
    margin-top: 2rem !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid #383636;
}

.profile-image {
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid #383636;
}

.small-pic {
    width: 100px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid #383636;
}

.small-pet-pic {
    width: 100px;
    border-radius: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid #383636;
}

.walk-div {
    box-shadow: 10px 11px 27px -1px rgba(0,0,0,0.75);
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5rem;
    margin-right: 5rem;
    padding: 10px;
    /* background-color: white; */
}

.walk-pic-title {
    padding: 0px !important;
    
    justify-content: center !important;
    font-size: 2.4vw !important;

    text-shadow: -1px 1px 2px #000,
        1px 1px 2px #000,
        1px -1px 0 #000,
        -1px -1px 0 #000 !important;

}